<!DOCTYPE html>
<html>
<head>
	<title>Info page</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>

	<div id="content">
		Hello, <%- name %>! [<a href="/exit">Logout</a>]
	</div>

</body>
</html>