.post {
	padding: 5px;
	margin: 5px;
	border: 1px solid black;
}

nav {
	height: 25px;
	border-bottom: 1px solid black;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

nav a {
	display: inline-block;
	padding: 5px;
	height: 15px;
	text-decoration: none;
	color: black;
	float: left;
}

nav a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}